<?xml version="1.0" encoding="utf-8"?>
<!--
  This configuration file is required for Windows Azure App Service deployment.
  For more information: https://github.com/projectkudu/kudu/wiki/Configurable-settings
-->
<configuration>
  <system.webServer>
    <!-- Indicates that the main.js file is a node.js site to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="main.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^main.js\/debug[\/]?" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="main.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    <!-- You can control how Node is hosted within IIS using the following options:
      * watchedFiles: semi-colon separated list of files that will be watched for changes to restart the server
      * node_env: will be propagated to node as NODE_ENV environment variable
      * debuggingEnabled - controls whether the built-in debugger is enabled
    -->
    <iisnode 
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      devErrorsEnabled="true"
      nodeProcessCommandLine="node"
    />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
